@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-1" style="color:forestgreen">JaGo</h1>
    <h3 class="display-6" style="color:steelblue">Soluções em sistemas gerenciais para pequenas empresas.</h3> 
</div>
<br />
<section>
    <br />
    <h3 style="color:forestgreen">Plataforma premium</h3>
    <div>
        <p>Desenvolvemos sistemas conforme o plano de negócios e análise de requisitos.
        </p>
    </div>
    <h3 style="color:forestgreen">JaGo whitelabel</h3>
    <div>
        <p>Customizamos nossa plataforma de acordo com o seu plano de negócio.
        </p>
    </div>
</section>
