@using JagoRTT.Application.ViewModel
@using JagoRTT.domain.Entities

@model Employee

@{
    ViewData["Title"] = "Create";
}

<br/>

<h4>Add a new employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" placeholder="804.873.610-16"/>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="+55 11 99999-0000"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Company</label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId">
                    <option value="0"></option>
                    @foreach(var item in ViewBag.Companies)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ToolId" class="control-label">Tool</label>
                <select asp-for="ToolId" class ="form-control" asp-items="ViewBag.ToolId">
                    <option value="0"></option>
                    @foreach(var item in ViewBag.Tools)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div>
                    <br/>
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn border-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
