@using JagoRTT.domain.Entities
@model Employee

@{
    ViewData["Title"] = "Edit";
}

<br/>
<h4>Update employee information</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Company</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId">
                    @foreach (var item in ViewBag.Companies)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolId" class="control-label">Tool</label>
                <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId">
                     @foreach (var item in ViewBag.Tools)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                </select>
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <br />
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
